build/
build2/
build_ninja/
build_nmake/
third_party/webview_src/
third_party/webview.h
third_party/nlohmann.json.3.12.0/
third_party/llama-b9703-bin-win-vulkan-x64/
third_party/dl-llama-box-windows-amd64-cuda-12.4/
third_party/llama.cpp/
nuget.exe
*.exe
*.dll
*.pdb
*.ilk
*.lib
*.exp
*.suo
*.user
*.sdf
*.VC.db
__pycache__/
*.pyc
tests/screenshot.py
